
[include]
	path = ~/.gitconfig.aliases
[core]
	editor = code -w
[user]
	name = Joshua Hodkinson
	email = $USER_EMAIL
[pull]
	ff = only
[merge]
	tool = code
[mergetool "code"]
	cmd = code -w -m $REMOTE $LOCAL $BASE $MERGED